
/* Use the following CSS rules to specify these families */

nav {
    background: #000;
    display: block;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1
}

a.navigation-title {
  display: inline;
  font-size: 1.8rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
  font-family: Monoton, sans-serif;
  letter-spacing: 0.03rem;
  position: relative
}

a.navigation-link {
  display: inline;
  font-size: 1.8rem;
  line-height: 5.2rem;
  padding: 0;
  padding-left: 1rem;
  text-decoration: none;
  letter-spacing: 0.03rem;
  position: relative;
  float: right;
}

header {
  margin-top: 11rem;
  padding-bottom: 3rem;
  text-align: center;
}

h1 {
  font-family: 'Monoton', serif;
  color: orange;
}

a {
  color: orange
}

article {
  color: #efefef;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 3rem 2rem;
  margin: 0 2rem;
}

body {
  background-color: #cfcfcf;
  font-family: roboto, sans-serif;
}

body.gear {
  background-image: url(/images/gear.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.home {
  background-image: url(/images/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.john_miller {
  background-image: url(/images/john_miller.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.john_peters {
  background-image: url(/images/control_room.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.services {
  background-image: url(/images/fancy_mics.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
