---
title: Future Condo | Gallery
headline: Gallery
body_class: gallery
---

.container
  = gallery(['gallery-live-room', 'gallery-control-room', 'gallery-outboard', 'gear-mics', 'gallery-keys', 'gallery-rhodes', 'gear-guitars-2', 'gear-effects'])
