---
title: Future Condo | Home
headline: Future Condo
body_class: home
skip_nav: true
---
p Future Condo is a full-service recording studio in South Minneapolis.

h2 Professional Studio

p Our state-of-the art studio features fully integrated digital and analog sides that can work in tandem or independently of each other. We also have all the gear you could ever want. #{link_to 'View gear list', 'gear.html', title:'gear list'}

h2 Large Live Room

p Future Condo has the real estate to give you the room sound you want. Whether you want to track an entire band live in one room, or track vocals with a living room feel, we can accommodate you.

h2 Affordability

p Our rates are reasonable, and discounts are given on bookings over 2 days.
