---
title: Future Condo | Services
headline: Services
body_class: services
---

h2 Recording

p Our favorite thing to do is recording and mixing records. We like to see the process through from beginning to end, and our studio is set up to do just that.

h2 Mixing

p Did you record a project at home or a different studio and want professional ears and equipment on mixing? We’ve done many of these projects and would love to do yours.

h2 Archiving & digitization

p We have multiple formats of tape machines, and are intimately familiar with white papers on most tapes ever manufactured. We can recover most tapes, despite the condition. We are able to diagnose problems with tape and determine how to treat the problem.


h2 Rehearsal

p Bands travelling through town needing rehearsal space should look no further than Future Condo. We have a complete backline plus PA.
