---
title: Future Condo | Testimonials
headline: Testimonials
body_class: testimonials
---

h2 Sumanth Gopinath, The Gated Community,

p "John Miller is one of the most impressive figures in the recording studio I have ever encountered. His mastery in using, acquiring, and repairing sound recording technologies, his astute ear for mixing and performance quality, and his generous but forthright demeanor in the studio have helped us to produce our best recorded work thus far. John Peters is likewise simply terrific to work with and incredibly knowledgeable. The studio itself is a fantastic working space that sounds wonderful and will only improve as John M. and John P. continue to refine it. As a whole, they are very highly recommended; you won't be disappointed at the results."


h2 Andrew Thoreen, Har-di-Har, and and end, J.E. Sunde, Trombone Band

p John Peters is a thorough and thoughtful engineer and producer. Not only does he exude joy and passion within everything he works on, but he does it maintaining the biggest grin i've ever seen. He is the kind of perfectionist that works on things until they are done, and beautifully so. Future Condo is a promising and ambitious studio space. With it's cavernous live room and microphone arsenal, the potential of this studio is equally massive. I am looking forward to hearing what come out of this future condo.

h2 Cole Pulice – Black Market Brass

p Recently recorded a Black Market Brass record at Future Condo. Recording a 10-piece band live is no easy task, but Future Condo's live room sounds incredible, they have tons of sick gear, and--most importantly--John Miller & John Peters rule.

h2 Jim Brenk, Drumcult

p "Working with John Peters was a wonderful experience. He was professional, thorough, and from our first meeting I knew that this was the right studio for me. As soon as my tracks were in, I could immediately hear them grow into the deep sonic field I envisioned when creating them. The process was extremely rewarding and fun, I am really looking forward to getting my next round of songs mixed and mastered too! . . .  It was pretty cool, they were all really nice dudes and didn't have any extra ego or anything“

h2 Brad Senne, Walker Fields

p "We really lucked out to record with John Peters.  He really helped us out, and he really captured what we do.

h2 Aaron Porter, Prizefighters

p “We really enjoyed tracking and mixing at Future Condo. It’s a great studio for doing a big live “vintage” analog session like we were after; those 19-foot-tall ceilings ain’t no joke! The studio boasts an impressive gear list - my favorite being the collection of classic rare ribbon mics - but even more importantly, engineers who really know how to use it well (I think John Miller may be able to splice tape in his sleep).”


h2 Leah Lemm

p “Future Condo has a great vibe and an even better sound. It’s really evident how much attention was given to detail with the equipment and space, but also with the comfort of the musicians. John Miller was not only amazingly efficient and pro, but sincerely supportive when I needed it the most. I can’t wait to come back and record more! Thank you, Future Condo!”

